@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    background: url("../../public/blob-bg.svg") no-repeat center center;
    margin: 0;
}

@mixin details-elements {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    .details-text{
        text-align: center;
        border-radius: 10px;
        width: fit-content;
        margin: auto;
        padding: 5px 20px;
    }
}
.balance{
    text-align:center;
    .details-text{
        p{
            color: blue;
            font-weight: bold;
            font-size: 30px;
            margin: 0;
        }
        h2{
            margin: 0;
        }
    }
}
.income{
    @include details-elements;
    border: 4px solid green;
    .details-text{
        background-color: #b8e5b8;
    }
}
.expenses{
    @include details-elements;
    border: 4px solid rgb(204, 9, 9);
    .details-text{
        background-color: #fe9595;
    }
}
.details-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 5px;
}
.history-table{
    border-collapse: collapse;
    padding: 10px;
    width: 50%;
    height: fit-content;
    margin-bottom: 10px;
    .expenses-tr{
        background-color: #fe9595;
    }
    .incomes-tr{
        background-color: rgb(184, 229, 184);
    }
    th{
        padding: 10px;
        text-align: left;
        background-color: rgb(35, 34, 34);
        color: white;
        &:first-child{
            border-radius: 5px 0 0 0;
        }
        &:last-child{
            border-radius: 0 5px 0 0;
        }
    }
    td{
        padding: 10px;
    }
}
@keyframes shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(7deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-7deg); }
    100% { transform: rotate(0deg); }
  }
.fa-trash{
    cursor: pointer;
    &:hover{
        animation: shaking 0.15s infinite;
    }
}
.manage-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}
.adds-form{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: fit-content;
    padding: 20px;
    border: 3px solid rgb(35, 34, 34);
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px;
    input, select{
        margin-bottom: 20px;
        padding: 8px 12px;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
        transition: all 0.5s;
        outline: none;
        &:focus{
            border: 2px solid #555;
            box-shadow: rgba(0, 0, 0, 0.3) 0 0px 8px;
        }
    }
    .warning{
        display: none;
        margin-top: 15px;
        background-color: rgb(158, 7, 7);
        color: white;
        border-radius: 5px;
        padding: 5px;
    }
    .input-label{
        letter-spacing: 3px;
    }
    .button-container{
        display: flex;
        justify-content: center;
        .add-button{
            background-color: green;
            border: none;
            border-radius: 15px;
            color: #FFFFFF;
            cursor: pointer;
            font-size: 16px;
            width: 60%;
            padding: 10px;
            transition: all 0.3s;
            &:hover{
                box-shadow: rgba(0, 0, 0, 0.3) 0 8px 15px;
                background-color: rgb(2, 107, 2);
                transform: translateY(-3px);
            }
        }
    }
}
